<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="authorityListFragment">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">System</th>
            <th scope="col">이름</th>
            <th scope="col">관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="authority : ${authorities}">
            <form th:action="@{/admin/authorities/{id}(id=${authority.id})}" method="post">
                <td th:text="${authority.id}"></td>
                <td th:text="${authority.system.name}"></td>
                <td>
                    <input type="text" name="name" class="form-control" th:value="${authority.name}" required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-success">수정</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>