<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="admin-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#admin-navbarNav" aria-controls="admin-navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="admin-navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/systems}">Systems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/members}">Members</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
</body>
</html>